Source: graspit
Section: graphics
Priority: optional
Maintainer: David Watkins (Ph.D Researcher at Columbia University) <davidwatkins@cs.columbia.edu>
Build-Depends: debhelper (>=9), libqt4-dev, libqt4-opengl-dev, libqt4-sql-psql, libcoin80-dev, libsoqt4-dev, libblas-dev, liblapack-dev, libqhull-dev, libeigen3-dev, libtinyxml-dev, cmake
Standards-Version: 3.9.7
Homepage: https://graspit-simulator.github.io
Vcs-Git: https://github.com/graspit-simulator/graspit.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/graspit.git

Package: graspit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Grasping simulator
 Grasping simulator using standard grasping procedures
